<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>
        
        <h1> Admin Section </h1>

        <form action="/addAuthor">
          <button> Add New Author </button>
        </form>
        
    </body>
</html>