<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
    </head>
    <body>

        <h1> Pixabay Search Results </h1>
        
        <form action="/results">
            
            Keyword: <input type="text" name="keyword">
            <button> Search! </button>
            
        </form> <br>
        
        TODO: Display several images here!<br>
        
        
        <img src='<%=images%>' width='250'>
        <img src='<%=images2%>' width='250'>
        <img src='<%=images3%>' width='250'>
        <img src='<%=images4%>' width='250'>
        

    </body>
</html>